/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    font-family: $fontFamily;
    font-size: 16px;
    font-weight: $regularWeight;
}

header {
    background-color: $primaryColor;
    padding: 1rem $gutter;

    h1 {
        margin: 0; 
        font-size: 1.5rem;
        font-weight: $heavyWeight;
    } //end of H1

    h2{
        margin: 0; 
        font-size: 1.2rem; 
        font-weight: normal;
        font-weight: $regularWeight;
    } //end of H2

} //end of header


#navmenu {background-color: whitesmoke;
    ul{margin:0; padding: 0;}
    li {display: none;}
    li:first-child{
        display:block;
    }
    li.active {background-color: #333}
    a {
        display: block;
        padding: .8rem 2%;
        text-align: center;
        text-decoration: none;
        color: white;
    }
    a :hover{
        color:#e9c46a;
    }
    active a{

        color: black}
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}
main {display: block; padding: 1rem $gutter;
    h1 {color:$primaryColor;
    font-weight: $heavyWeight;
    margin: 0 auto;
    max-width: 900px;
}

  
    figure{
    margin: 0;
    width: 100%;
    img {width: 100%;}
    } //end figure
    figcaption {text-align: center; font-size: .8rem;}

} //end of main

//footer
footer {
    border-radius: 12px;
    background-color: #0077b6;
    height: 90px;
    max-width: 900px;
    margin: 0 auto;
    color: whitesmoke;
    font-size: small ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
footer a:link {
    color: darkblue;
}
footer a:visited{
    color: white;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}