
header {
    border-radius: 12px;
    background-color: #196A73;
    justify-content: space-between;
    color: whitesmoke; 
    text-align: center;
    font-weight: bold;
    font-size: 2em;
       
}
main {
    display: grid;
    grid-template-columns: 1fr;
    margin:auto;
}
footer {
    border-radius: 12px;
    background-color: #196A73;
    height: 90px;
    width: 100%;
    color: whitesmoke;
    font-size: small ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1, h2 {
    font-family: 'Spartan', sans-serif;
    text-align: center;
    font-size: 12em;
    padding-top: 5px;
    color: whitesmoke
    }
h3{
padding-bottom: 7em;
font-size: 2em;
}

section {
    background-color: #196A73;
    border-radius: 15px;
    text-align: center;
    margin: 10px;
    
  }
.pic {
    display: block;
    border-radius: 12px;
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    box-shadow: 5px 5px 15px 5px #CBFFCE;
      }
p {
    font-size: 1.25em;
    color: whitesmoke;
}
a {
    font-size: 1.75em;
    color: royalblue;
}
