Body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    max-width: 900px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    }
 
h1, h2, h3, h4, h5 {
    font-family: sans-serif, 'Open Sans';
}
header {
    
    display: flex;
    
   }

main {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

footer {
    border-radius: 12px;
    background-color: #0077b6;
    height: 90px;
    width: 100%;
    color: whitesmoke;
    font-size: small ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
footer a:link {
    color: darkblue;
}
footer a:visited{
    color: white;
}
nav {
    background-color: #0077b6;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 15px #0077b6;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul a {
    display: inline;
    color: #fff;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 18px;
}
li {
    display: inline;
}
#icon{
    width: 35px;
    height: 35px;
}
#largelogo{
    width: 150pm;
    height: 150px;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
.tdtitle{
    font-size: medium;
    font-weight: bold;
}
.stagingcontent{
    display: block;
    margin: 10px auto;
    border: medium;
    padding: 15px;
    font-style: italic;
    background-color: #90e0ef;
}
.navmenu{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}
.navmenu li{
    display: none;
}
.navmenu li:first-child{
    display:block;
}
.navmenu a{
    display: block;
    padding: .8rem 2%;
    text-align: center;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0,0,0,0.3);
}
.navmenu a:hover{
color:#e9c46a;
}
.responsive li{
    display: block;
}
.navmenu active a{
background-color: rgba(0,0,0,0.2);
color: black
}