
@media only screen and (min-width: 900px){
 
    
    header img{
        width: 100%;
 }
 nav button {
     display: none
    }

 .headings h1{font-size: 48px
 }
 .motto{
     letter-spacing: 1.5pt;
     font-size: medium;
     margin-left: 17px;
 }    	
 .navmenu {
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
.navmenu li {
    display: flex; 
    flex: 1 1 100%;
   
}
.navmenu a {
    text-align: center;
}
.navmenu li:first-child {
    display: none;
}


nav ul{
    display: flex;
}
nav li{
    flex: 1 1 100%;
} 
section {
    grid-template-columns: repeat( 3, 1fr);
}
figure:hover {
    box-shadow: 1px 1px 8px 5px turquoise;
}

}