@media only screen and (min-width: 35rem){
 
    header img{
        width: 100%;
 }
 nav button {
     display: none
 }
 
 .navigation {
     display: flex;
     flex-direction: row;
 }
 .navigation li {
     display: block; 
     flex: 1 1 auto;
 }
 .navigation a {
     text-align: center;
 }
 .navigation li:first-child {
     display: none;
 }
 .headings h1 {
     font-size: 48px
 }
 .motto{
     letter-spacing: 1.5pt;
     font-size: medium;
     margin-left: 15px;
 } 
  .gmap{
      grid-column: 1;
      grid-row: 1;
  }
  .coninfo{
    grid-column: 2; 
    grid-row: 1;
     
  }
  @media only screen and (max-width: 1188px) and (min-width: 768px) { 
  .city {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-height: 285px;

}

.city h1 {
    border-bottom: transparent dotted 5px;
    grid-column: 1;
    grid-row: 1;
}

.city h2 {
    direction: ltr;
    padding: 0 15px;
    font-size: 20px;
    margin-top: 90px;
    grid-column: 1;
    grid-row: 1;
}

.city h3, .city h4, .city h5 {
    direction: ltr;
    grid-column: 1;
    grid-row: 2;
}

.city h3 {
    margin-top: -100px;
}

.city h4 {
    margin-top: -75px;
}

.city h5 {
    margin-top: -50px;
}

.city img {
    height: 280px;
    margin-top: 2px;
    margin-right: 25px;
    grid-column: 2;
    grid-row: 1;
}

.city:nth-child(3) {
    direction: rtl;
    padding: 10px 10px 10px 35px;
    width: 82%;
}
  }
}
 