Body {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    max-width: 900px;
    padding-left: 10px;
    padding-right: 10px;
    }
#familypic{
    margin-top: 20px;
    margin-right: 20px;
  }

 
header {
    border-radius: 12px;
    background-color: #C2A86B;
    height: 130px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

table {
    max-width: 100%;
}

main {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
#homename{
    font-size: 3em;
    margin-bottom: 20%;
    margin-left: 20px;
    text-align: center;
    color: white;
}

footer {
    border-radius: 12px;
    background-color: #C2A86B;
    height: 90px;
    width: 100%;
    color: white;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
